.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: transparent;

    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-blue-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--primery-white-color);
}

.social-icon {
    fill: #afb1b8;

    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// === footer-social-link

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: none;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
    fill: var(--primery-white-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--accent-blue-color);
}

